.box {
  width: 300px;
  height: 430px;
  border: 1px lightgray solid;
}

.box-details {
  display: inline-block;
  border: 1px lightgray solid;
  padding: 5px;
}

img {
  width: 230px;
  height: 180px;
}

.price {
  color: gray;
  font-size: 1.3rem;
}

.pointer:hover {
  cursor: pointer;
}

.header-cart {
  font-size: 25px;
}

.my-cart {
  width: 80%;
}
